/* CSS Personnalisé */

#logo {
    border-radius: 50%;
    max-width: 30%;
}

#blog-btn {
    background-color: #18BC9C;
    /* background-color: white; */
}

#blog-btn a {
    color: #2C3E50;
}

#cv-btn {
    color: #18BC9C;
    font-size:20px;
    border:2px solid #18BC9C;
    background:0 0;
    transition:all .3s ease-in-out;
    margin-top:15px
}

#cv-btn.active,
#cv-btn:active,
#cv-btn:focus,
#cv-btn:hover {
    color: white;
    background:#18BC9C;
    border:2px solid #18BC9C
}