/* CSS Personnalisé */

/* template */

#logo {
    border-radius: 50%;
    max-width: 30%;
}

#blog-btn {
    background-color: #18BC9C;
    /* background-color: white; */
}

#blog-btn a {
    color: #2C3E50;
}

/* accueil */

#cv-btn {
    color: #18BC9C;
    font-size:20px;
    border:2px solid #18BC9C;
    background:0 0;
    transition:all .3s ease-in-out;
    margin-top:15px
}

#cv-btn.active,
#cv-btn:active,
#cv-btn:focus,
#cv-btn:hover {
    color: white;
    background:#18BC9C;
    border:2px solid #18BC9C
}

/* Liste Articles */

#blog-title {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

#numerotation-pages {
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: right;
}

.num-page {
    display: inline-block;
    border: solid black 1px;
    padding: 10px 15px;
}

.lirelasuite {
    font-weight: bold;
}

/* Single Article */

#single {
    margin: 35px auto;
}

#single h2 {
    margin-left: 40px;
    font-size: 2.5em;
    font-weight: 900;
    text-decoration: underline;
}

#single p {
    font-size: 1.5rem;
}

#maj {
    text-align: right;
}

#author {
    text-align: right;
    font-size: 1.7rem;
    text-decoration: underline;
    font-style: italic;
}

/* Single articles Comments */

#comment-box {
    border: solid;
    padding: 20px;
    margin-bottom: 50px;
}

#h3-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#comment-title {
    text-decoration: underline;
    margin-left: 20px;
    display: inline-block;
}

#btn-add {
    text-align: right;
    display: inline-block;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

textarea {
    width: 100%;
}

input {
    margin-top: 10px !important;
}

#comments h5, #comments h6 {
    display: inline-block;
    margin: auto 20px;
    text-decoration: underline;
}

.comment {
    display: flex;
    justify-content: space-between;
}

