{% extends "template.twig" %}

{% block content %}

<br>
<hr>
<br>
<div class="container">
    <h1 class="text-center"><u>Erreur 404</u></h1><br>
    <h2 class="text-center">Cette page n'existe pas ou n'existe plus</h2>
</div>
<br>
<hr>
<br>

{% endblock %}