{% extends "template.twig" %}

{% block content %}

<div id="blog-title">
    <h1>Authentification</h1>
</div>

<div class="container" id="authentification">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Se connecter
                </button>
            </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% if session.connected == false %}
                    {% if auth == "fail" %}
                        <div class="alert alert-danger" role="alert">
                            Erreur, Mauvais pseudo ou mot de passe!
                        </div>
                    {% endif %}
                    <form method="post" action="index.php?action=verification" class="container" id="sign-in">
                        <div>
                            <label for="nickname">Nom d'utilisateur : </label>
                            <input type="text" name="nickname" />
                        </div>
                        <div>
                            <label for="mdp">Mot de passe : </label>
                            <input type="password" name="mdp" />
                        </div>
                        <input type="submit" />
                    </form>
                    {% else %}
                    <div id="state">
                        <p><strong>{{session.nickname}}</strong>, vous êtes bien connecté! Souhaitez vous vous deconnecter?</p>
                        <a class="btn btn-danger" href="index.php?action=deconnexion">
                            Deconnexion
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                S'inscrire
                </button>
            </h2>
            </div>
            {% if auth == 'failed' %}
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample"> 
                <div class="card-body">
                    {% if failed == 'mdp' %}
                    <div class="alert alert-danger" role="alert">
                        Les mots de passes ne correspondent pas
                    </div>
                    {% elseif failed == 'nick' %}
                    <div class="alert alert-danger" role="alert">
                        Le nom d'utilisateur est déjà utilisé
                    </div>
                    {% elseif failed == 'email' %}
                    <div class="alert alert-danger" role="alert">
                        L'adresse mail est déjà utilisé
                    </div>
                    {% endif %}
                   <form method="post" action="index.php?action=register">
                    <div id="sign-up">
                        <label for="firstname">Prénom :</label>
                        <input type="text" name="firstname" />
                        <label for="surname">Nom de famille :</label>
                        <input type="text" name="surname" />
                        <label for="nickname">Pseudo :</label>
                        <input type="text" name="nickname" />
                        <label for="email">Adresse mail :</label>
                        <input type="email" name="email" />
                        <label for="mdp">Définissez un mot de passe :</label>
                        <input type="password" name="mdp" />
                        <label for="confirm">Confirmez le mot de passe :</label>
                        <input type="password" name="confirm" />
                    </div>
                    <p id="submit"><input type="submit"/></p>
                   </form>
                </div>
            </div>
            {% else %}
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                   <form method="post" action="index.php?action=register">
                    <div id="sign-up">
                        <label for="firstname">Prénom :</label>
                        <input type="text" name="firstname" />
                        <label for="surname">Nom de famille :</label>
                        <input type="text" name="surname" />
                        <label for="nickname">Pseudo :</label>
                        <input type="text" name="nickname" />
                        <label for="email">Adresse mail :</label>
                        <input type="email" name="email" />
                        <label for="mdp">Définissez un mot de passe :</label>
                        <input type="password" name="mdp" />
                        <label for="confirm">Confirmez le mot de passe :</label>
                        <input type="password" name="confirm" />
                    </div>
                    <p id="submit"><input type="submit"/></p>
                   </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}