{% extends "template.twig" %}

{% block content %}


<div class="row" id="bo">
    <h2>Back-Office</h2><br>
    <div class="col-lg-4">
        <h3>Ajout de Post</h3><br>
        {% if post != null %}
        <div class="alert alert-success text-center" role="alert" id="article-added">
            Post ajouté (<a href="index.php?action=single&id={{post.getId()}}">Voir l'article</a>)
        </div><br>
        {% endif %}
        <form method="post" action="index.php?action=addarticle&id={{id}}">
            <label for="title">Titre :</label>
            <input type="text" name="title" /><br>
            <label for="chapo">Chapo :</label>
            <textarea name="chapo"></textarea>
            <label for="content">Contenu :</label>
            <textarea name="content" rows="10" cols="100"></textarea><br><br>
            <p id="submit"><input type="submit" /></p><br>
        </form>
    </div>
    <div class="col-lg-4">
        <h3>Approbation commentaires</h3>
    </div>
    <div class="col-lg-4">
        <h3>Gestion des utilisateurs</h3>
    </div>
</div>
<br>

{% endblock %}